body {
    padding: 50px;
    background-color: #ff4949;
    font-family: sans-serif;
  }
  
  h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  #container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .submit {
    display: flex;
    flex-direction: column;
  }

  label {
    color: white;
  }
  
  p {
    color: white;
  }
  
  .reportForm .header textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 25em;
  }
  
  .reportForm .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color:	#ff4949;
    color: #FFF;
    border: 2px solid #7e2323;
    font-family: 'Roboto', sans-serif;
  }
  
  .reportForm .header button:hover {
    background-color: #7e2323;
    border: 2px solid #ff4949;
    cursor: pointer;
  }