body {
    padding: 50px;
    background-color:#a57b7b;
    font-family: sans-serif;
  }
  
  h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  #container {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .submit {
    display: flex;
    flex-direction: column;
  }

  label {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  a{
      color: white;
      font-family: 'Roboto', sans-serif;
  }

  a:hover{
      color: white;
      font-family: 'Roboto', sans-serif;
  }

     @media only screen and (min-width: 600px)  {
	.reportText {
	  width: 50%;
	  margin-left: 25%;
	}
	textarea {
	  width: 50%!important;
	  margin-left:25%;
	}
     } 

  .navbarBrand {
      margin-left: 25%; 
      font-family: 'Roboto', sans-serif;
  }

  .navbar-toggler {
     width: auto;
     margin-left: 40%; 
  }
  
  button{
    width:50%;
    margin-left:25%;
    background-color: #7e2323;
    border: 2px solid #ff4949;
    cursor: pointer;
    margin-top: 10px;
  }

  
  .reportForm .header textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 25em;
  }
  
  .reportForm .header button {
    padding: 10px;
    font-size: 16px;
    margin-right: 0px;
    background-color:	#ff4949;
    color: #FFF;
    border: 2px solid #7e2323;
    font-family: 'Roboto', sans-serif;
  }
  
  .reportForm .header button:hover {
    background-color: #7e2323;
    border: 2px solid #ff4949;
    cursor: pointer;
  }
